body {
   margin: 0;
   padding: 0;
   background-image: url('national-beer-day-ipa.jpg');
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
}

.pagination {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
   max-width: 80%;
}

.pagination li {
   width: 3rem;
   margin: 5px 0;
   text-align: center;
}

#cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.card, .page-link {
   background-color: rgba(226, 226, 226, 0.8);
   color: maroon;
   font-weight: 500;
}

.card-img-top {
   width: 100%;
   height: 20vh;
   object-fit: scale-down;
}

.card-text {
   font-size: 0.8em;
}

#amountTitle {
	color: white;
}